<div>
  <h1>Home</h1>
  <h1>Hi {{user.username}}</h1>
  <h1>You are logged in and access these links!</h1>
  <a href="/protected/main">Funny Cat</a>
  <br>
  <br>
  <a href="/protected/private">Private</a>
  <br>
  <br>
  <form action="/log-out" method="post">
    <button type="submit">Log out</button>
  </form>
</div>